.calculator-layout {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  padding: 8px 8px 0 4px; 
  background-color: var(--bg-main);
  box-sizing: border-box;
  overflow: hidden;
}

.top-row {
  display: flex;
  gap: 8px;
  height: 100%;
  align-items: flex-start;
  overflow: hidden;
}

.left-column {
  width: 360px;
  min-width: 360px;
  max-width: 360px;
  flex-shrink: 0;
}

.right-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  max-height: 720px; 
  flex-shrink: 0;
}

.top-half {
  height: 260px; 
  overflow: none;
}

.bottom-half {
  margin-top: 55px;
  height: 338px;
  background-color: var(--bg-main);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}