.tiles-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
.button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #C19976;
  border: none;
  color: #082C38;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #FCD8B4;
}
