.settings-container {
  padding: 2rem;
  /*
  color: var(--text);
  background: var(--bg-main);
  */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.settings-container h2 {
  margin-bottom: 1.5rem;
  color: var(--accent);
}

.settings-container input {
  width: 100%;
  max-width: 400px;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid var(--accent);
  border-radius: 10px;
  background: var(--bg-main);
  color: var(--text);
  font-size: 1rem;
}

.settings-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background: var(--accent);
  color: var(--bg-main);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.settings-container button:hover {
  background-color: var(--hover);
}

/* Sekcja języków */
.language-toggle {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin: 20px 0 10px 0;
  justify-content: center;
}

.lang-radio {
  cursor: pointer;
  padding: 8px 14px;
  border: 2px solid var(--accent);
  border-radius: 10px;
  background: var(--bg-main);
  color: var(--text);
  transition: all 0.2s ease;
}

.lang-radio:hover {
  background: var(--text);
  color: var(--bg-main);
}

.lang-radio.selected {
  background: var(--accent);
  color: var(--bg-main);
}

.lang-radio input {
  display: none;
}

/* Sekcja motywów */
.theme-toggle {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin: 10px 0 30px 0;
  justify-content: center;
}

.theme-radio {
  cursor: pointer;
  padding: 10px 16px;
  border: 2px solid var(--accent);
  border-radius: 10px;
  background: var(--bg-main);
  color: var(--text);
  font-weight: bold;
  transition: all 0.2s ease;
}

.theme-radio:hover {
  filter: brightness(1.15);
}

.theme-radio.selected {
  outline: 3px solid var(--text);
  box-shadow: 0 0 8px var(--accent);
}

.theme-radio input {
  display: none;
}

.saved-global-label {
  background-color: var(--bg-main);
  color: var(--accent);
  font-size: 18px;
  padding: 4px 4px;
  border-radius: 6px;
  animation: fadeOut 1.5s ease forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}
