.draw-chart {
  display: flex;
  flex-direction: column;
  height: 99%;
  box-sizing: border-box;
  border: 2px solid var(--accent);
  border-radius: 12px;
  padding: 12px;
  overflow: hidden;
}

.tabs {
  display: flex;
  padding: 4px;
}

.tabs button {
  flex: 1;
  padding: 8px;
  font-weight: bold;
  background: var(--accent);
  color: var(--bg-main);
  border: none;
  border-radius: 4px;
  margin-right: 4px;
  cursor: pointer;
}

.tabs button.active {
  background: var(--text);
  color: var(--bg-main);
}

.keyboard-tab {
  padding: 8px;
  flex: 1;
}

.expression-bar {
  width: 97%;
  font-size: 16px;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background-color: var(--tile-bg);
  color: var(--text);
}

.mini-keypad {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 4px;
}

.mini-keypad button {
  padding: 6px;
  font-size: 18px;
  background: var(--accent);
  color: var(--bg-main);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  line-height: 1;
  transition: background-color 0.2s ease-in-out;
}

.mini-keypad button:hover {
  background-color: var(--text);
  color: var(--bg-main);
}

.plot-tab {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.plot-canvas {
  border: 1px solid #333;
  border-radius: 6px;
  height: 100%;
  margin-top: 8px;
  padding: 8px;
  background: var(--bg-main);
}

.plot-options {
  background-color: var(--tile-bg);
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.axis-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.axis-group label,
.line-group label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  color: var(--text);
}

.line-group input[type="range"] {
  background-color: var(--text);
}

.plot-options input[type="number"] {
  background-color: var(--bg-main);
  color: var(--text);
}

.angle-group button {
  margin-right: 6px;
  padding: 4px 10px;
  border: none;
  background: var(--accent);
  color: var(--bg-main);
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  gap: 8px;
}

.angle-group button.active {
  background-color: var(--text);
  color: var(--bg-main);
}

.plot-header button {
  padding: 6px;
  font-size: 14px;
  background: var(--accent);
  color: var(--bg-main);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-left: 4px;
}

.plot-header button:hover {
  background-color: var(--text);
  color: var(--bg-main);
}
