.sidebar {
  width: 200px;
  background: var(--accent);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  color: var(--bg-main);
  min-width: 200px;
  max-width: 200px;
  flex-shrink: 0;
}

.sidebar .title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.sidebar-item:hover {
  background: var(--hover);
}

.sidebar-item.active {
  background: var(--active);
  font-weight: bold;
}